// ********************************************************
// ******** BASE COLORS
// ********************************************************

// ******** PRIMARY

$col_primary : hsla(257, 100%, 18%, 100%);
$col_primary-90 : hsla(257, 100%, 18%, 90%);
$col_primary-80 : hsla(257, 100%, 18%, 80%);
$col_primary-70 : hsla(257, 100%, 18%, 70%);
$col_primary-60 : hsla(257, 100%, 18%, 60%);
$col_primary-50 : hsla(257, 100%, 18%, 50%);
$col_primary-40 : hsla(257, 100%, 18%, 40%);
$col_primary-30 : hsla(257, 100%, 18%, 30%);
$col_primary-20 : hsla(257, 100%, 18%, 20%);
$col_primary-10 : hsla(257, 100%, 18%, 10%);



// ******** SECONDARY

$col_secondary: hsla(30, 100%, 57%,100%);
$col_secondary-90: hsla(30, 100%, 57%,90%);
$col_secondary-80: hsla(30, 100%, 57%,80%);
$col_secondary-70: hsla(30, 100%, 57%,70%);
$col_secondary-60: hsla(30, 100%, 57%,60%);
$col_secondary-50: hsla(30, 100%, 57%,50%);
$col_secondary-40: hsla(30, 100%, 57%,40%);
$col_secondary-30: hsla(30, 100%, 57%,30%);
$col_secondary-20: hsla(30, 100%, 57%,20%);
$col_secondary-10: hsla(30, 100%, 57%,10%);


// ******** TERTIARY
$col_tertiary: hsla(4, 100%, 64%,100%);
$col_tertiary-90: hsla(4, 100%, 64%,90%);
$col_tertiary-80: hsla(4, 100%, 64%,80%);
$col_tertiary-70: hsla(4, 100%, 64%,70%);
$col_tertiary-60: hsla(4, 100%, 64%,60%);
$col_tertiary-50: hsla(4, 100%, 64%,50%);
$col_tertiary-40: hsla(4, 100%, 64%,40%);
$col_tertiary-30: hsla(4, 100%, 64%,30%);
$col_tertiary-20: hsla(4, 100%, 64%,20%);
$col_tertiary-10: hsla(4, 100%, 64%,10%);



// ********************************************************
// ******** NEUTRAL COLORS
// ********************************************************

// ******** WHITE

$col_neutral-white: hsla(0, 0%, 100%,100%);
$col_neutral-white-90: hsla(0, 0%, 100%,90%);
$col_neutral-white-80: hsla(0, 0%, 100%,80%);
$col_neutral-white-70: hsla(0, 0%, 100%,70%);
$col_neutral-white-60: hsla(0, 0%, 100%,60%);
$col_neutral-white-50: hsla(0, 0%, 100%,50%);
$col_neutral-white-40: hsla(0, 0%, 100%,40%);
$col_neutral-white-30: hsla(0, 0%, 100%,30%);
$col_neutral-white-20: hsla(0, 0%, 100%,20%);
$col_neutral-white-10: hsla(0, 0%, 100%,10%);



// ********************************************************
// ******** SEMANTIC COLORS
// ********************************************************


// ******** Success

$col_semantic-success: hsla(120, 100%, 25%,100%);
$col_semantic-success-90: hsla(120, 100%, 25%,90%);
$col_semantic-success-80: hsla(120, 100%, 25%,80%);
$col_semantic-success-70: hsla(120, 100%, 25%,70%);
$col_semantic-success-60: hsla(120, 100%, 25%,60%);
$col_semantic-success-50: hsla(120, 100%, 25%,50%);
$col_semantic-success-40: hsla(120, 100%, 25%,40%);
$col_semantic-success-30: hsla(120, 100%, 25%,30%);
$col_semantic-success-20: hsla(120, 100%, 25%,20%);
$col_semantic-success-10: hsla(120, 100%, 25%,10%);

// ******** Warning

$col_semantic-warning: hsla(39, 100%, 50%,100%);
$col_semantic-warning-90: hsla(39, 100%, 50%,90%);
$col_semantic-warning-80: hsla(39, 100%, 50%,80%);
$col_semantic-warning-70: hsla(39%, 100%, 50%,70%);
$col_semantic-warning-60: hsla(39, 100%, 50%,60%);
$col_semantic-warning-50: hsla(39, 100%, 50%,50%);
$col_semantic-warning-40: hsla(39, 100%, 50%,40%);
$col_semantic-warning-30: hsla(39, 100%, 50%,30%);
$col_semantic-warning-20: hsla(39, 100%, 50%,20%);
$col_semantic-warning-10: hsla(39, 100%, 50%,10%);

// ******** Error

$col_semantic-error: hsla(0, 100%, 50%,100%);
$col_semantic-error-90: hsla(0, 100%, 50%,90%);
$col_semantic-error-80: hsla(0, 100%, 50%,80%);
$col_semantic-error-70: hsla(0, 100%, 50%,70%);
$col_semantic-error-60: hsla(0, 100%, 50%,60%);
$col_semantic-error-50: hsla(0, 100%, 50%,50%);
$col_semantic-error-40: hsla(0, 100%, 50%,40%);
$col_semantic-error-30: hsla(0, 100%, 50%,30%);
$col_semantic-error-20: hsla(0, 100%, 50%,20%);
$col_semantic-error-10: hsla(0, 100%, 50%,10%);








