// ------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------
//  -   GRID VARIABLES
// ------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------

$d-col-count:23;
$l-col-count:23;
$t-col-count:17;
$m-col-count:11;

$dCol: 56px;
$lCol: 40px; 
$tCol: 40px;
$mCol: 7.8vw;

$d-grid-size: #{$dCol*$d-col-count};
$l-grid-size: #{$lCol*$l-col-count};
$t-grid-size: #{$tCol*$t-col-count};
$m-grid-size: #{$mCol*$m-col-count};

$mGridMargin : calc((100vw - #{$m-grid-size}) / 2);
$tGridMargin : calc((100vw - #{$t-grid-size}) / 2);
$lGridMargin : calc((100vw - #{$l-grid-size}) / 2);
$dGridMargin : calc((100vw - #{$d-grid-size}) / 2);

$mGridMarginNeg : calc((100vw - #{$m-grid-size}) / -2);
$tGridMarginNeg : calc((100vw - #{$t-grid-size}) / -2);
$lGridMarginNeg : calc((100vw - #{$l-grid-size}) / -2);
$dGridMarginNeg : calc((100vw - #{$d-grid-size}) / -2);


.fullV-m {
    width: 100vw;
}
.fullV-t {
    @include tablet {
        width: 100vw;
    }
}
.fullV-l {
    @include laptop {
        width: 100vw;
    }
}
.fullV-d {
    @include tablet {
        width: 100vw;
    }
}

.mCol-full {
    width: $m-grid-size;
}
.tCol-full {
    width: $t-grid-size;
}
.lCol-full {
    width: $l-grid-size;
}
.dCol-full {
    width: $d-grid-size;
}



@for $i from 1 through $m-col-count {
    .mCol-#{$i} {
        width: #{$i*$mCol};
    }
    .mLeft-#{$i} {
        margin-left: #{$i*$mCol};
    }
    .mRight-#{$i} {
        margin-right: #{$i*$mCol};
    }
}

@for $i from 1 through $t-col-count {
    @include tablet {
    .tCol-#{$i} {
        width: #{$i*$tCol};
    }
    .tLeft-#{$i} {
        margin-left: #{$i*$tCol};
    }
    .tRight-#{$i} {
        margin-right: #{$i*$tCol};
    }
}
}

@for $i from 1 through $l-col-count {
    @include laptop {
    .lCol-#{$i} {
        width: #{$i*$lCol};
    }
    .lLeft-#{$i} {
        margin-left: #{$i*$lCol};
    }
    .lRight-#{$i} {
        margin-right: #{$i*$lCol};
    }
}
}

@for $i from 1 through $d-col-count {
    @include desktop {
    .dCol-#{$i} {
        width: #{$i*$dCol};
    }
    .dLeft-#{$i} {
        margin-left: #{$i*$dCol};
    }
    .dRight-#{$i} {
        margin-right: #{$i*$dCol};
    }
}
}


@mixin grid {
    position: relative;
    margin: 0 auto;
    width: $m-grid-size;
    // max-width: 440px;

    @include tablet {
        width: $t-grid-size;
        max-width: unset;
    }

    @include laptop {
        width: $l-grid-size;
        max-width: unset;
    }
    @include desktop {
        width: $d-grid-size;
        max-width: unset;
    }
}

@mixin grid-helper {
    display: grid;
    margin: auto;
    grid-template-rows: auto;
    width: $m-col-count * $mCol;
    grid-template-columns: repeat(#{$m-col-count}, $mCol);

    @include tablet {
        width: $t-col-count * $tCol;
        grid-template-columns: repeat(#{$t-col-count}, $tCol);
    }
    @include laptop {
        width: $l-col-count * $lCol;
        grid-template-columns: repeat(#{$l-col-count}, $lCol);
    }
    @include desktop {
        width: $d-col-count * $dCol;
        grid-template-columns: repeat(#{$d-col-count}, $dCol);
    }

}


.grid {
    @include grid;
}
.grid-helper {
    @include grid-helper;
}